html,
body {
  padding: 0;
  margin: 0;
  /*font-family: 'DM Serif Display', serif;*/
  /* font-family: 'Roboto', sans-serif;*/
  font-family: 'Rubik', sans-serif;
    background: #E5E5E5;;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto:wght@100;300;400;700&family=Rubik:wght@300;400;700&display=swap');

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
